@import "/UI/Style.scss";

InspectItem {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: #101010d4;
    transition: all 0.1s ease-out;
    opacity: 1;
    text-shadow: $text-shadow-sm;

    .scene {
        height: 100%;
        width: 100%;
        transition: all 0.2s ease-out;
        transform: scale(1);

        &:intro {
            transform: scale(0);
        }

        &:outro {
            transform: scale(0);
        }
    }

    .text-placement {
        position: absolute;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
        bottom: -35%;
        transition: all 0.2s ease-out;
        opacity: 1;

        .text-container {
            flex-direction: column;
            width: 450px;
            background-color: #1b1c1b;
            box-shadow: 4px 4px 0px black;
            padding: 20px;
            text-shadow: $text-shadow-sm;

            .weight {
                font-size: 19px;
                font-family: HabboExtended;
                color: $orange;
            }

            .price {
                font-size: 19px;
                font-family: HabboExtended;
                color: $green;
            }

            .title {
                font-size: 36px;
                font-family: BasicHandwriting;
            }

            .description {
                font-size: 22px;
                font-family: HabboExtended;
            }
        }
        
        &:intro {
            opacity: 0;
        }
    }

    &:outro {
        opacity: 0;
    }
}
