@namespace Sauna.UI.Subtitles
@attribute [StyleSheet]
@inherits Panel

<root>
	<label class="speaker @( Resource.Priority == SoundWithSubtitlesResource.SubtitlePriority.SoundEffect ? "environment" : "" )">
		@Resource.GetLocalized()
	</label>
</root>

@code {

	public SoundWithSubtitlesResource Resource { get; set; }

	protected override int BuildHash() => HashCode.Combine( GameSettings.GetLanguage );

}
