SubtitlePanel {
  color: white;
  font-size: 25px;
  
  opacity: 1;
  
  transition: opacity 0.1s ease-in-out;
  
  flex-direction: row;
  flex-wrap: wrap;
  
  &:intro {
    opacity: 0;
  }

  &:outro {
    opacity: 0;
  }
  
  .environment {
    font-style: italic;
  }
}