@using Sandbox;
@using Sandbox.UI;

@namespace Sauna
@inherits PanelComponent
@attribute [StyleSheet]

<root>
	<div class="firstname">
		<div>@Firstname</div>
		@if ( onFirstname )
		{
			<div class="caret" />
		}
	</div>

	<div class="lastname">
		<div>@Lastname</div>
		@if ( !onFirstname )
		{
			<div class="caret" />
		}
	</div>

	<div class="date">
		06-07-2001
	</div>

	<div class="footer">
		<p>@footerText</p>
	</div>
</root>

@code {
	[Property] public CreatorOverlay Overlay { get; set; }

	public static string Fullname => ($"{Firstname} {Lastname}").ToTitleCase();

	public static string Firstname { get; private set; }
	public static string Lastname { get; private set; }

	private bool onFirstname = true;
	private TextEntry entry;

	private string name => Sandbox.Utility.Steam.PersonaName;
	private string steamid => Sandbox.Utility.Steam.SteamId.ToString();
	private string footerText = ""; 

	private char[] garbage = new[] { '>', '<', 'X' };
	private string generateGarbage( int count )
	{
		var sb = new StringBuilder();
		for ( int i = 0; i < count; i++)
			sb.Append( Sandbox.Game.Random.FromArray( garbage ) );

		return sb.ToString();
	}

	protected override void OnAwake()
	{
		footerText = $"P<FIN {name}> {generateGarbage( 34 - name.Length )}\n"
				   + $"P<UID {steamid}> {generateGarbage( 34 - steamid.Length)}\n"
				   + $"{generateGarbage(52 - steamid.Length)}><(((°>";
	}

	private void Initialize()
	{
		Firstname = ""; // todo: Remove this, only needed due to static shit being fuckeedd!!
		Lastname = "";

		Overlay.Panel.AddChild( entry = new()
		{
			CharacterRegex = "[a-zA-ZäöåÄÖÅ ]",
			MaxLength = 18,
			Text = Firstname
		} );

		entry.AddEventListener( "onsubmit", () =>
		{
			onFirstname = !onFirstname;
			entry.Text = onFirstname ? Firstname : Lastname;
		} );

		entry.AddClass( "textentry" );
	}

	protected override void OnUpdate()
	{
		if ( entry == null )
		{
			if ( Overlay.Panel != null )
				Initialize();

			return;
		}

		if ( !entry.HasFocus )
			entry.Focus();

		if ( onFirstname )
			Firstname = entry.Text;
		else 
			Lastname = entry.Text;

		entry.CaretPosition = entry.Text.Length;
	}

	protected override int BuildHash()
	{
		return HashCode.Combine( Firstname, Lastname, onFirstname );
	}
}
