InteractionHint {
    flex-direction: column;
    position: absolute;
    font-weight: bold;
    border-radius: 10px;
    transform-origin: left top;
    transition: transform 0.5s ease-in-out;
    transform: scale(1) translate(-50% -50%);
    opacity: 0;

    .title {
        font-size: 24px;
        padding-bottom: 5px;
        color: orange;
    }

    .interaction {
        flex-direction: row;
        align-items: center;
        padding-bottom: 5px;
        padding-left: 10px;
        font-size: 18px;

        .icon {
            width: 22px; 
            aspect-ratio: 1;
            margin-right: 2px;
        }
    }

    &.visible {
        opacity: 1;
    }
}
