@using Sandbox;
@using Sandbox.UI;

@namespace Sauna
@inherits Panel
@attribute [StyleSheet]

<root>
	@*<div class="goback">
		<image src="ui/hud/confirm.png" />
		<div class="text-container">
			Go back
			<div class="description">to Stage 1</div>
		</div>
	</div>*@

	<label class="name dark">@PassportComponent.Fullname</label>

	<label class="weight-text dark">@(_weight) KG</label>
	<slider 
		class="weight"
		minimum=@(60) maximum=@(125) default=@(70) 
		@onvalueset=@(value => {
			_weight = (int)value.Value;
			Weight = MathX.Remap( (float)_weight, 60, 125, 0, 1 );
			Model.Morphs.Set( "fat", Weight );
			Model.Update( Time.Delta );
		} )
	/>

	<label class="height-text dark">@(_height) CM</label>
	<slider 
		class="height"
		minimum=@(150) maximum=@(195) default=@(178) 
		@onvalueset=@(value => {
			_height = (int)value.Value;
			Height = MathX.Remap( (float)_height, 150, 195, -90, 80 );
			Model.SetAnimParameter( "height", Height );
			Model.Update( Time.Delta );
		} )
	/>

	<div class="confirm">
		CONFIRM
	</div>
</root>

@code {
	private int _weight;
	private int _height;

	public static float Weight { get; set; }
	public static float Height { get; set; }

	private SceneModel model;
	public SceneModel Model
	{
		get
		{
			if ( model != null )
				return model;

			return model = CreatorComponent.All[CreatorComponent.Current].GameObject
				.Components.Get<SkinnedModelRenderer>( FindMode.EverythingInDescendants )
				.SceneModel;
		}
	}

	protected override int BuildHash()
	{
		return HashCode.Combine( _weight, _height );
	}
}
