$orange: #fbaf3e;
$gray: #8f8f8f;
$gold: #fbcf3e;
$dark-gray: #636363;
$egg-shell: #ffd29d;
$green: #6b9d0f;
$blood-red: #883232;
$blue: #0e599f;
$orange: #bc4d2a;

$box-shadow-sm: 4px 4px 2px black;
$text-shadow-sm: 3px 3px 0px black;

$fullscreen-blur: blur( 20px );
$fullscreen-bg: #00000068;

$black-bg: #000000d4;