@import "/UI/Style.scss";

InteractionHint {
    flex-direction: row;
    position: absolute;
    border-radius: 10px;
    transform-origin: left top;
    opacity: 0;
    font-family: BasicHandwriting;

    .title {
        background-image: url(ui/hud/dialogue_name.png);
        background-size: 100%;
        background-repeat: no-repeat;
        image-rendering: pixelated;
        background-image-tint: rgba(white, 0.8);
        //background: linear-gradient(to right, rgba(black, 0.8) 0%, rgba(black, 0.6) 100%);
        font-size: 24px;
        color: white;
        padding: 10px;
        padding-left: 20px;
        min-width: 200px;
        text-shadow: 2px 2px 0px black;
    }

    .content {
        flex-direction: column;
    }

    .icon {
        width: 30px;
        aspect-ratio: 1;
        image-rendering: pixelated;
        margin-right: 20px;
        transform: translateX(-50%);
    }

    .interactions {
        padding: 5px;
        background: linear-gradient(to bottom, rgba(black, 0.4) 0%, rgba(black, 0.2) 70%, rgba(black, 0) 100%);
        gap: 10px;
        flex-direction: column;
    }

    .interaction {
        flex-direction: row;
        align-items: center;
        font-size: 20px;
        font-family: HabboExtended;
        margin-left: 10px;

        .description {
            text-shadow: $text-shadow-sm;
            margin-top: 5px;
        }

        .hint {
            margin-right: 12px;
        }
    }

    &.visible {
        opacity: 1;
    }
}
