@namespace Sauna.UI
@attribute [StyleSheet]
@inherits Panel

<root class="@( Active ? "active" : "" )">
	<div class="border"/>
	<div class="background"/>
	<div class="lock" style="display: @( Locked ? "flex" : "none" )">
		<img src="ui/hud/blocked.png">
	</div>
	<img src=@Definition.Icon.ResourcePath/>
</root>

@code {

	public FishLog.FishInfo Definition { get; set; }
	public bool Active { get; set; }
	public bool Locked { get; set; }

}
