@namespace Sauna.UI
@attribute [StyleSheet]
@inherits Panel

<root>
	<SideButton
		ImagePath="ui/hud/goback.png"
		Title="Go back"
		Subtitle="To pause screen"
		OnClick=@( () => FullScreenManager.Instance.Display( FullScreenManager.FullScreenPanel.PauseMenu ) )
		style="position: absolute; top: 50px;"/>
	<div class="content">
		<FishList class="section" />
		<FishDetails class="section" />
	</div>
</root>

@code {
	public record FishInfo(
		string PrefabPath,
		string Name,
		string Description,
		float Rarity,
		int CostPerKilo,
		Texture Icon,
		string ModelPath,
		string MaterialGroup );

	protected override int BuildHash() => HashCode.Combine( Player.Local.FishesCaught );
}
