@import "/UI/Style.scss";

FishDetails {
    height: 100%;
    background-color: #000000b5;
    text-shadow: $text-shadow-sm;

    .header {
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;

        img {
            height: 100px;
            width: 100px;
            flex-shrink: 0;
            margin-right: 20px;
        }

        .title {
            font-size: 32px;
            font-family: BasicHandwriting;
        }

        .subtitle {
            font-size: 16px;
            color: $gray;
            margin-right: 20px;
        }

        .fish-stars {
            img {
                height: 20px;
                width: 20px;
                image-rendering: pixelated;
            }
        }
    }

    .description {
        width: 100%;
        height: 100%;
        background-color: #0000007a;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;

        .record {
            font-size: 20px;

            .key {
                color: $gray;
                margin-right: 10px;
            }

            .weight {
                color: $orange;
            }

            .money {
                color: $green;
            }
        }
    }
}
