@import "/UI/Style.scss";

FishLog {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: $fullscreen-bg;
    backdrop-filter: $fullscreen-blur;
    pointer-events: all;
    font-family: HabboExtended;
    align-items: center;

    .content {
        width: 100%;
        height: 500px;
        justify-content: center;

        .section {
            width: 650px;
            flex-direction: column;
        }
    }
}
