@import "/UI/Style.scss";

FishSlot {
    height: 150px;
    width: 150px;
    margin: 5px;
    align-items: center;
    justify-content: center;

    .border {
        position: absolute;
        background-image: linear-gradient(#989898, #4a4a4a);
        height: 100%;
        width: 100%;
        mask-mode: alpha;
        mask-image: url('/ui/hud/slot_mask_thin.png');
        mask-size: 100%;
        image-rendering: pixelated;
    }

    .background {
        position: absolute;
        background: radial-gradient(#00000047, #000000);
        height: 100%;
        width: 100%;
        z-index: -10;
    }
    
    &.active {
        border: 2px white;
    }

    img {
        height: 90%;
        width: 90%;
        image-rendering: pixelated;
    }

    &:hover {
        cursor: pointer;
        sound-in: 'hover';
        background-color: rgba(255, 255, 255, 0.02);
    }

    &:active {
        sound-in: 'light_click';
    }
}
