@namespace Sauna.UI
@attribute [StyleSheet]
@inherits Panel

<root>
	<div @ref=_container class="container">

	</div>
</root>

@code {
	private static Subtitles _instance;
	private Panel _container;

	public Subtitles()
	{
		_instance = this;
	}

	public static void AddSubtitle(string name, string text, SoundHandle soundHandle)
	{
		if (_instance is null || _instance._container is null)
			return;

		var container = _instance._container;
		if (container.ChildrenCount > 5)
			container.Children.FirstOrDefault()?.Delete();

		_instance?._container?.AddChild(new Subtitle(){ Name = name, Text = text, SoundHandle = soundHandle });
	}

	public override void Tick()
	{
		
	}
}
