@using Sandbox;
@using Sandbox.UI;

@namespace Sauna
@inherits Panel

<style>
    .interaction-hint {
        position: absolute;
        font-weight: bold;
        flex-direction: column;
        border-radius: 10px;
        opacity: 0;
        transform: scale(0);
        transform-origin: left top;
        transition: transform 0.5s ease-in-out;

        .title {
            font-size: 24px;
            padding-bottom: 5px;
            color: orange;
        }

        .interaction {
            flex-direction: row;
            align-items: center;
            padding-bottom: 5px;
            margin-left: 10px;
            font-size: 16px;

            .icon {
                width: 22px; 
                background-size: 8px;
                aspect-ratio: 1;
                margin-right: 2px;
            }
        }

        &.visible {
            opacity: 1;
            transform: scale(1) translate(-50% -50%);
        }
    }
</style>

@if ( Game.LocalPawn is Player pawn )
{
    var valid = pawn.Interactable is ModelEntity entity;
    <root class="interaction-hint @(valid ? "visible" : "")">
        @if (valid)
        {
            <label class="title">@pawn.Interactable.DisplayTitle</label>

            foreach ( var interaction in pawn.Interactions )
            {
                <panel class="interaction">
                    <inputglyph class="icon" glyphSize=@InputGlyphSize.Small button=@interaction.Key />
                    <label>@interaction.Value.Text</label>
                </panel>
            }
        }
    </root>
}

@code {
    Vector2 lerpPosition;

    public override void Tick()
    {
        if ( Game.LocalPawn is not Player pawn )
            return;

        if ( !HasClass( "visible" ) || pawn.Interactable is not ModelEntity entity ) 
            return;

        var position = (entity.Position + (pawn.Interactable.Offset ?? entity.CollisionWorldSpaceCenter - entity.Position))
            .ToScreen();

        lerpPosition = Vector2.Lerp( lerpPosition, new Vector2( position.x, position.y ), 10f * Time.Delta );

        Style.Left = Length.Fraction( lerpPosition.x );
        Style.Top = Length.Fraction( lerpPosition.y );
    }

    protected override int BuildHash()
    {
        var pawn = Game.LocalPawn as Player;
        var interactions = String.Join( ',', pawn.Interactions.Select( i => $"{i.Key} {i.Value.Text}" ) );

        return HashCode.Combine( interactions );
    }
}