@using Sandbox;
@using Sandbox.UI;

@namespace Sauna
@inherits TextEntry

<style>
	TextInput {
		font-size: 16px;
		color: white;
		justify-content: center;
		align-content: center;

		label {
			word-break: break-all;
			white-space: normal;
		}

		.ghost-text {
			position: absolute;
			left: 15px;
			opacity: 0.5;
		}
	}
</style>

<root>
	@if ( Text == "" )
	{
		<label class="ghost-text">@Ghost</label>
	}
</root>

@code {
	public string Ghost { get; set; }

	public TextInput()
	{
		
	}

	protected override int BuildHash()
	{
		return HashCode.Combine( Text );
	}
}
