@import "/UI/Style.scss";

ExperienceBar {
    .hud {
        padding: 15px 0px 20px 15px;
        background: linear-gradient(to right, rgba($green, 0.7) 0%, rgba($green, 0.2) 70%, rgba($green, 0) 100%);
    }

    .container {
        width: 800px;
        flex-direction: column;
        transition: all 0.4s ease-out;

        .level-details {
            width: 100%;
            text-shadow: $text-shadow-sm;
            justify-content: space-between;
            align-items: center;

            .level {
                font-size: 30px;
                font-family: BasicHandwriting;
            }

            .level-exp {
                font-size: 20px;
                font-family: HabboExtended;
            }
        }

        .exp-bar {
            margin-top: 5px;
            height: 17px;
            border: 3px white;
            box-shadow: 4px 4px 2px 2px #000000b4;

            .progress {
                padding: 5px;
                height: 100%;
                background-color: white;
                transition: all 0.5s ease-out;
            }
        }

        &.inactive {
            opacity: 0;
            transform: translateX(-100%);
        }
    }
}
