@import "/UI/Style.scss";

ExperienceBar {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    bottom: -40%;

    .container {
        width: 800px;
        flex-direction: column;
        transition: all 0.2s ease-out;

        .level-details {
            width: 100%;
            text-shadow: $text-shadow-sm;
            justify-content: space-between;
            align-items: center;

            .level {
                font-size: 30px;
                font-family: BasicHandwriting;
            }

            .level-exp {
                font-size: 20px;
                font-family: HabboExtended;
            }
        }

        .exp-bar {
            margin-top: 5px;
            height: 17px;
            border: 3px white;
            box-shadow: 4px 4px 2px 2px #000000b4;

            .progress {
                padding: 5px;
                height: 100%;
                background-color: white;
                transition: all 0.5s ease-out;
            }
        }

        &.inactive {
            opacity: 0;
            transform: translateY(20);
        }
    }
}
