@namespace Sauna.UI
@attribute [StyleSheet]
@inherits Panel

<root>
	<img src="ui/hud/task_completed.png" />
	<div class="task-details">
		<text class="task-completed">TASK COMPLETED</text>
		<text class="task-title">the task names goes here</text>
		<div class="rewards">
			<text class="exp">+24 EXP</text>
			<text class="money">50mk</text>
		</div>
	</div>
</root>

@code {

}
