@import "/UI/Style.scss";

TaskNotification {
    position: absolute;
    right: 0px;
    top: 225px;
    flex-direction: row-reverse;
    background: linear-gradient(to left, rgba(black, 0.8) 0%, rgba(black, 0.4) 70%, rgba(black, 0) 100%);
    align-items: center;

    .task-details {
        flex-direction: column;
        align-items: flex-end;
        font-family: BasicHandwriting;

        .task-completed {
            font-size: 30px;
            text-shadow: $text-shadow-sm;
            margin-bottom: 5px;
        }

        .task-title {
            font-size: 16px;
            text-shadow: $text-shadow-sm;
            margin-bottom: 20px;
        }

        .rewards {
            font-size: 14px;
            gap: 25px;
            color: $green;
        }
    }

    img {
        height: 75px;
        width: 75px;
        image-rendering: pixelated;
        margin: 20px 20px 20px 20px;
    }
}