@namespace Sauna.UI
@attribute [StyleSheet]
@inherits Panel

<root>
	@if ( !string.IsNullOrEmpty( Marker?.Texture ) )
	{
		<img class="icon" src=@Marker.Texture style="background-image-tint: @(Marker.HexColor);" />
	}

	<p class="distance @(ShowDistance ? "show" : "")">@($"{(_distance / 39f):N0}")m</p>
</root>

@code {
	public Marker Marker { get; set; }
	public bool ShowDistance { get; set; }
	private float _distance => (Player.Local?.Transform.Position ?? 0).Distance( Marker?.Position ?? 1 );


	public override void OnParentChanged()
	{
		base.OnParentChanged();
		StateHasChanged();
	}

	protected override int BuildHash()
	{
		return HashCode.Combine( Marker != null, ShowDistance ? _distance : 0, Marker?.Texture, Marker?.Name );
	}
}
