@namespace Sauna.UI
@attribute [StyleSheet]
@inherits Panel

<root>
	<SideButton
		ImagePath="ui/hud/goback.png"
		Title="Go back"
		Subtitle="To pause screen"
		OnClick=@(() => Delete())
		style="position: absolute; top: 50px;" 
	/>

	<div class="container">
		<div class="content">
			<div style="position:absolute; top: -80px; align-items: center;">
				<img class="fish-img" src="ui/hud/fish_collection.png" />
				<div style="flex-direction: column;">
					<text class="fish-title">FISH COLLECTION</text>
					<text class="fish-subtitle">This is where you can keep track of all kinds of fish you've caught so far.</text>
				</div>
			</div>
			<div class="fishes">
				@for (int i = 0; i < 30; ++i) 
				{
					<FishSlot />
				}
			</div>
			<div class="fish-selected">

			</div>
		</div>
	</div>
</root>
