PauseMenuButton {
    align-items: center;
    background: linear-gradient(to right, rgba(black, 0.8) 0%, rgba(black, 0.4) 70%, rgba(black, 0) 100%);
    padding: 20px 0px 20px 0px;
    font-smooth: never;
    width: 70%;

    img {
        aspect-ratio: 1;
        width: 50px;
        margin: 0px 40px 0px 80px;
    }

    .text-container {
        flex-direction: column;

        .button-title {
            font-size: 34px;
            font-family: BasicHandwriting;
        }

        .button-subtitle {
            font-size: 26px;
        }
    }

    &:hover {
        cursor: pointer;
    }
}