PauseMenu {
    position: absolute;
    height: 100%;
    width: 100%;
    display: none;
    background-color: #000000bd;
    z-index: 50;

    .title {
        position: absolute;
        background-repeat: no-repeat;
        background-size: contain;
        image-rendering: pixelated;
        width: 550px;
        height: 300px;
        margin-left: 100px;
        margin-top: 100px;
    }

    .portraits {
        width: 100%;
        flex-direction: column;
        align-items: flex-end;
        padding-right: 50px; 
        padding-top: 250px;
        gap: 10px;
    }

    &.visible {
        display: flex;
        pointer-events: all;
    }
}
