@namespace Sauna.UI
@attribute [StyleSheet]
@inherits Panel

<root>
	<div style="width: 50%; flex-direction: column;">
		<img class="title" src="ui/mainmenu/title.png" />
		<div style="flex-direction: column; justify-content: center; top: 38%; gap: 5px; width: 70%;">
			<SideButton
				ImagePath="ui/hud/goback.png"
				Title="Resume"
				Subtitle="Continue being Finnish"
				OnClick=@(() => { FullScreenManager.Instance.Display(FullScreenManager.ActivePanel.InGameHud); })
			/>

			<div style="height: 10px;" />

			<SideButton
				ImagePath="ui/hud/task_completed.png"
				Title="Tasks"
				Subtitle="Full history of your tasks"
			/>
			<SideButton
				ImagePath="ui/hud/inv.png"
				Title="Inventory"
				Subtitle="Your inventory and stats"
				OnClick=@(() => { FullScreenManager.Instance.Display(FullScreenManager.ActivePanel.Inventory); })
			/>
			<SideButton
				ImagePath="ui/hud/fish_collection.png"
				Title="Fish Collection"
				Subtitle="All the kinds of fish you collected"
				OnClick=@(() => { FullScreenManager.Instance.Display(FullScreenManager.ActivePanel.FishLog); })
			/>
			<SideButton
				ImagePath="ui/hud/exit.png"
				Title="Quit"
				Subtitle="End this session and go back to the main menu"
				OnClick=@(() => { Sandbox.Game.Close(); })
			/>
		</div>
	</div>
	<div style="width: 50%;">
		<div class="portraits">
			<PlayerPortrait 
				SteamName="ceitine"
				PlayerName="Teemu"
				PlayerLevel=@(7)
				IsHost=@(true)
			/>
			<PlayerPortrait 
				SteamName="ceitine"
				PlayerName="Teemu"
				PlayerLevel=@(7)
			/>
			<PlayerPortrait 
				SteamName="ceitine"
				PlayerName="Teemu"
				PlayerLevel=@(7)
			/>
			<PlayerPortrait 
				SteamName="ceitine"
				PlayerName="Teemu"
				PlayerLevel=@(7)
			/>
		</div>

		<div class="inputs">
			<InputHint Hint="Inventory" Input=@InputAction.Inventory />
			<InputHint Hint="(Hold) Voice Chat" Input=@InputAction.Voice />
		</div>
	</div>
</root>
