@namespace Sauna.UI
@attribute [StyleSheet]
@inherits Panel

<root>
	<img src=@ImagePath />
	<div class="text-container">
		<text class="button-title">@Title</text>
		<text class="button-subtitle">@Subtitle</text>
	</div>
</root>

@code {
	public string Title { get; set; }
	public string Subtitle { get; set; }
	public string ImagePath { get; set; }
}
