@namespace Sauna.UI
@attribute [StyleSheet]
@inherits Panel

<root>
	@if (IsHost)
	{
		<div class="host-title">HOST</div>
	}
	<div>
		<div class="player-info">
			<div style="flex-direction: column; margin-right: 10px;">
				<text class="player-name">@DisplayName</text>
				<text class="player-details">@FormatDetails()</text>
			</div>
		</div>
		<div class="border-img @(IsHost ? "host" : "")">
			<img src="avatar:@SteamId" class="player-img" />
		</div>
	</div>
	@if (IsHost)
	{
		<div class="host-spacer" />
	}
</root>

@code {
	public Player Player { get; set; }

	public bool IsHost => Player != Player.Local ? Player.Connection.IsHost : true;
	public string DisplayName => Player != Player.Local ? Player.Connection.DisplayName : Steam.PersonaName;
	public ulong SteamId => Player != Player.Local ? Player.Connection.SteamId : Steam.SteamId;

	private string FormatDetails()
	{
		return $"{Player.Firstname}, Lv. {Player.Level}";
	}

	protected override int BuildHash()
	{
		if (Player is null || Player.Connection is null)
			return -1;

		return HashCode.Combine(Player.Level, IsHost, Player.Firstname?.GetHashCode());
	}
}
