BodypartPanel {
    position: absolute;
    flex-direction: row;
    gap: 4px;
    font-family: BasicHandwriting;
    align-items: center;
    font-size: 24px;
    white-space: nowrap;
    font-smooth: never;
    transition: opacity 0.2s linear;

    .text-container {
        padding: 8px 50px 8px 10px;
        background: linear-gradient(to right, rgba(black, 0.9) 0%, rgba(black, 0.5) 70%, rgba(black, 0) 100%);
    }

    &.left {
        flex-direction: row-reverse;
        justify-content: flex-end;
        transform: translate(-100% -100%);

        .text-container {
            background: linear-gradient(to left, rgba(black, 0.9) 0%, rgba(black, 0.5) 70%, rgba(black, 0) 100%);
            padding: 8px 10px 8px 50px;
        }
    }

    .icon-container {
        padding: 8px;
        background-color: rgba(black, 0.9);
        height: 100%;
        aspect-ratio: 1;

        img {
            image-rendering: pixelated;
            background-size: cover;
        }
    }
}
