@import "/UI/Style.scss";

PrimaryTask {
    position: absolute;
    right: 0;
    height: 230px;
    flex-direction: column;
    padding: 20px 25px 20px 20px;
    text-shadow: 2px 2px 0px black;

    .bg {
        position: absolute;
        right: 0px;
        width: 700px;
        height: 200px;
        background-image: url("ui/hud/right.png");
        background-image-tint: rgba(white, 0.85);
        background-repeat: no-repeat;
        background-position: right top;
        image-rendering: pixelated;
    }

    .main {
        flex-direction: row-reverse;

        .text-container {
            height: 100%;
            padding: 10px 25px;
            text-align: right;
            flex-direction: column;

            .task-type {
                text-transform: uppercase;
                font-family: HabboExtended;
                font-size: 18px;
                margin-bottom: 5px;

                &.primary {
                    color: $orange;
                }

                &.secondary {
                    color: $blue;
                }
            }

            .task-title {
                font-family: BasicHandwriting;
                font-size: 34px;
                margin-bottom: 5px;
            }

            .subtasks {
                flex-direction: column;
                gap: 10px;

                .subtask {
                    gap: 10px;
                    justify-content: flex-end;

                    .subtask-description {
                        font-family: HabboExtended;
                        font-size: 18px;
                    }
                }
            }

            .task-timer {
                font-family: HabboExtended;
                font-size: 18px;
                color: $blood-red;
                padding: 0px 0px 8px 0px;
            }

            .task-state {
                font-family: HabboExtended;
                font-size: 18px;

                &.completed {
                    color: $green;
                }

                &.failed {
                    color: $blood-red;
                }
            }
        }
    }
}
