@namespace Sauna.UI
@attribute [StyleSheet]
@inherits Panel

<root>
	<div class="main">
		<div class="icon"></div>
		<div class="text-container">
			<div style="flex-direction: row-reverse">
				<div class="task-type">
					@TaskType
				</div>
			</div>

			<div style="flex-direction: row-reverse">
				<div class="task-title">
					@TaskTitle
				</div>
			</div>

			<div style="flex-direction: row-reverse">
				<div class="task-description">
					@TaskDescription
				</div>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="text-container">
			<div style="flex-direction: row-reverse">
				<div class="instruction">
					@FooterInstruction
				</div>
			</div>
		</div>
	</div>
</root>

@code {

	public string TaskType => "Primary Task";
	public string TaskTitle => "Dude, Where Is My Car";
	public string TaskDescription => "Where the fuck is my car?! Where do I start the investigation?\n\t\t\t\t\tLet's see if my neighbors saw anything weird this night. I don't like them though.";
	public string FooterInstruction => "Hold X for all current tasks";

	protected override int BuildHash()
	{
		return HashCode.Combine( TaskType, TaskTitle, TaskDescription, FooterInstruction );
	}

}
