@namespace Sauna.UI
@attribute [StyleSheet]
@inherits Panel

<root>
	<div class="main">
		@if (Player.PinnedTask is null)
		{

		}
		else
		{
			<div class="icon"></div>
			<div class="text-container">
				<div style="flex-direction: row-reverse">
					<div class="task-type @(Player.PinnedTask.IsPrimaryTask ? "primary" : "secondary")">
						@(Player.PinnedTask.IsPrimaryTask ? "PRIMARY TASK" : "SECONDARY TASK")
					</div>
				</div>

				<div style="flex-direction: row-reverse">
					<div class="task-title">
						@Player.PinnedTask.Name
					</div>
				</div>

				<div style="flex-direction: row-reverse; gap: 8px;">
					@if (Player.PinnedTask.Completed)
					{
						@if (Player.PinnedTask.Successful)
						{
							<div class="task-description completed">COMPLETED</div>
						}
						else
						{
							<div class="task-description failed">FAILED</div>
						}
					}
					else
					{
						@if (Player.PinnedTask.NextSubtaskToComplete is not null)
						{
							<div class="task-description">@Player.PinnedTask.NextSubtaskToComplete.Description</div>
							<Checkbox Enabled=@(Player.PinnedTask.NextSubtaskToComplete.Completed) />
						}
					}
				</div>
			</div>
		}
	</div>
</root>

@code {
	protected override int BuildHash()
	{
		return HashCode.Combine
		( 
			Player.PinnedTask?.ResourceId, 
			Player.PinnedTask?.Completed,
			Player.PinnedTask?.Successful,
			Player.PinnedTask?.NextSubtaskToComplete?.Completed,
			Player.PinnedTask?.NextSubtaskToComplete?.GetHashCode()
		);
	}
}
