// $date-padding: change this if you want to move the whole thing a bit
$date-padding: 20px 20px 20px 25px;

$item-margin: 10px 0px 0px 0px;

$icon-height: 48px;
$icon-width: 50px;
$icon-margin: 0px 13px 3px 0px;

$hack-title-margin-left: 2px;

Date {
    position: absolute;
    left: 0;

    width: 500px;
    height: 500px;

    flex-direction: column;

    padding: $date-padding;

    background-image: url("ui/hud/left.png");
    background-image-tint: rgba(white, 0.85);
    background-repeat: no-repeat;
    background-position: left top;

    .item {
        flex-direction: row;

        margin: $item-margin;
        
        align-items: center;
        
        .icon {
            image-rendering: pixelated;
            background-size: contain;
            background-repeat: no-repeat;
            height: $icon-height;
            width: $icon-width;
            
            margin: $icon-margin;

            &.level {
                background-image: url("ui/hud/current_level.png");
            }

            &.day {
                background-image: url("ui/hud/day_calendaricon.png");
            }
        }

        .text-container {
            flex-direction: column;

            font-family: BasicHandwriting;
            
            .title {
                margin-left: $hack-title-margin-left;
                font-size: 16px;
            }

            .value {
                font-size: 37px;
            }
        }
    }
}