MenuButton {
    color: white;
    font-family: 'BasicHandwriting';
    font-size: 40px;
    align-items: center;
    background-image: url('ui/mainmenu/button_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 75px;
    margin: 4px 0px;
    transition: all 0.1s;
    opacity: 0.9;

    .icon {
        width: 40px;
        height: 40px;
        margin: 0px 30px;
        transition: all 0.1s;
    }

    &:hover {
        cursor: pointer;
        width: 600px;
        font-size: 50px;
        opacity: 1;

        .icon {
            width: 50px;
            height: 50px;
            animation-name: icon-wiggle;
            animation-duration: 2s;
            animation-iteration-count: infinite;
        }
    }

    &:active {
        font-size: 45px;
    }
}

@keyframes icon-wiggle {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(3deg);
    }

    75% {
        transform: rotate(-3deg);
    }

    100% {
        transform: rotate(0deg);
    }
}