@import "/UI/Style.scss";

SelectedTask {
    height: 100%;
    width: 70%;
    background-color: $black-bg;
    flex-direction: column;

    .title {
        font-size: 28px;
        font-family: BasicHandwriting;
        margin-bottom: 8px;
    }

    .subtitle {
        font-size: 22px;
        letter-spacing: 1px;
        font-family: HabboExtended;
        margin-bottom: 3px;
    }

    .pinned {
        font-size: 20px;
        letter-spacing: 3px;
        font-family: HabboExtended;
        color: $gray;
    }

    .completed {
        background-color: $green;
        margin-left: 40px;
        padding: 2px 15px;
        color: black;
        font-size: 17px;
        font-weight: bold;
        font-family: HabboExtended;
    }

    .divider {
        width: 1px;
        height: 100%;
        background-color: white;
    }

    .task-additional-details {
        height: 70%;
        padding: 10px 40px;
        flex-direction: column;
        overflow-y: scroll;
        font-family: HabboExtended;
    }

    .requirement {
        flex-shrink: 0;
        align-items: center;

        .requirement-status {
            width: 20px;
            height: 20px;
            border: 2px white;
            bottom: 2px;
            justify-content: center;
            align-items: center;
            margin-right: 8px;
            align-self: flex-start;
            flex-shrink: 0;

            .requirement-completed {
                background-color: white;
                height: 50%;
                width: 50%;
            }
        }

        .requirement-details {
            font-size: 18px;
        }
    }
}