@namespace Sauna.UI
@attribute [StyleSheet]
@inherits Panel

<root>
	<text class="title-container">TASKS DETAILS</text>
	@if (TaskMaster.SelectedTask is not null)
	{
		<div style="width: 100%; padding: 40px;">
			<div style="width: 75%; flex-direction: column;">
				<div style="align-items: flex-start;">
					<text class="title">@TaskMaster.SelectedTask.Name</text>
					@if (TaskMaster.SelectedTask.Completed)
					{
						<div class="completed">COMPLETED</div>
					}
				</div>
				<text class="subtitle">@TaskMaster.SelectedTask.Subtitle</text>
				<text class="pinned">( PINNED )</text>
			</div>
		</div>
		<div class="task-additional-details">
			<div style="flex-direction: column; margin-bottom: 40px; flex-shrink: 0;">
				<text class="title">Task Details:</text>
				<text style="font-size: 20px;">@TaskMaster.SelectedTask.Description</text>
			</div>
			<div style="flex-direction: column; flex-shrink: 0;">
				<text class="title">Task Requirements:</text>
				<div style="flex-direction: column; flex-shrink: 0; gap: 20px;">
					@foreach (var subtask in TaskMaster.SelectedTask.Subtasks)
					{
						<div class="requirement">
							<div class="requirement-status">
							@if (subtask.Completed)
							{
								<div class="requirement-completed" />
							}
							</div>
							<text class="requirement-details">@subtask.Description</text>
						</div>
					}
				</div>
			</div>
		</div>
	}
	else
	{
		<div style="width: 100%; height: 100%; justify-content: center; align-items: center;">
			<text style="font-size: 28px; font-family: HabboExtended;">No task selected</text>
		</div>
	}
</root>

@code {	
	protected override int BuildHash()
	{
		if (TaskMaster.SelectedTask is null)
			return -1;

		return HashCode.Combine(
			TaskMaster.SelectedTask.ResourceId, 
			TaskMaster.SelectedTask.Subtasks.HashCombine((subtask) => HashCode.Combine(subtask.Completed))
		);
	}
}
