@import "/UI/Style.scss";

TaskList {
    height: 100%;
    width: 30%;
    background-color: $black-bg;

    .tasks {
        height: 100%;
        width: 100%;
        overflow: scroll;
        flex-direction: column;
        gap: 5px;

        .heading {
            width: 100%;
            padding: 15px 20px;
            font-size: 22px;
            flex-shrink: 0;
            font-family: HabboExtended;
            text-shadow: $text-shadow-sm;

            &.primary {
                background-color: $orange;
            }

            &.secondary {
                background-color: $blue;
            }
        }
    }
}
