@namespace Sauna.UI
@attribute [StyleSheet]
@inherits Panel

<root>
	<text class="title-container">TASKS JOURNAL</text>
	<div class="tasks">
		<div class="heading">PRIMARY TASKS</div>
		@foreach(var task in PrimaryTasks)
		{
			<TaskListElement Task=@task onclick=@(() => OnTaskClick(task)) />
		}
		<div class="heading">SECONDARY TASKS</div>
		@foreach(var task in SecondaryTasks)
		{
			<TaskListElement Task=@task onclick=@(() => OnTaskClick(task)) />
		}
	</div>
</root>

@code {
	public Action<SaunaTask> OnTaskClick { get; set; }
	private IEnumerable<SaunaTask> PrimaryTasks => TaskMaster.ActiveTasks.Where((t) => t.IsPrimaryTask);
	private IEnumerable<SaunaTask> SecondaryTasks => TaskMaster.ActiveTasks.Where((t) => !t.IsPrimaryTask);

	protected override int BuildHash()
	{
		return HashCode.Combine(TaskMaster.ActiveTasks.HashCombine((t) => t.ResourceId));
	}
}
