@namespace Sauna.UI
@attribute [StyleSheet]
@inherits Panel

<root>
	<text class="title-container">TASKS JOURNAL</text>
	<div class="tasks">
		<div class="heading">PRIMARY TASKS</div>
		<TaskPanel />
		<TaskPanel />
		<div class="heading">SECONDARY TASKS</div>
		<TaskPanel />
	</div>
</root>
