@namespace Sauna.UI
@attribute [StyleSheet]
@inherits Panel

<root>
	<SideButton 
		Title="Inventory" 
		Subtitle="Press @(Input.GetButtonOrigin( InputAction.Inventory )) or click here"
		OnClick=@(() => FullScreenManager.Instance.Display(FullScreenManager.FullScreenPanel.Inventory))
		ImagePath="ui/hud/inv.png"
		style="position: absolute; top: 50px; left: 0px;" 
	/>
	<div class="task-container">
		<TaskList OnTaskClick=@((SaunaTask task) => { SelectedTask = task; }) />
		<TaskDetails SelectedTask=@SelectedTask />
	</div>
</root>

@code {
	public static SaunaTask SelectedTask { get; set; }

	protected override int BuildHash()
	{
		return HashCode.Combine(SelectedTask?.ResourceId);
	}
}
