@import "/UI/Style.scss";

TaskDetails {
    height: 100%;
    width: 70%;
    background-color: $black-bg;
    flex-direction: column;

    .title {
        font-size: 28px;
        font-family: BasicHandwriting;
        margin-bottom: 8px;
    }

    .subtitle {
        font-size: 22px;
        letter-spacing: 1px;
        font-family: HabboExtended;
        margin-bottom: 3px;
    }

    .pinned {
        font-size: 20px;
        letter-spacing: 3px;
        font-family: HabboExtended;
        color: $gray;
    }

    .success {
        margin-left: 40px;
        padding: 4px 15px 0px 15px;
        color: black;
        font-size: 20px;
        font-weight: bold;
        font-family: HabboExtended;

        &.completed {
            background-color: $green;
        }

        &.failed {
            background-color: $blood-red;
        }
    }

    .task-additional-details {
        height: 70%;
        padding: 10px 40px;
        flex-direction: column;
        overflow-y: scroll;
        font-family: HabboExtended;
    }

    .requirement {
        flex-shrink: 0;
        align-items: center;

        .requirement-details {
            font-size: 18px;
            margin-left: 8px;
        }
    }

    .pin-details {
        position: absolute;
        right: 0px;
        bottom: -55px;
        background-color: $black-bg;
        height: 40px;
        padding: 25px 45px;
        justify-content: center;
        align-items: center;
        font-family: HabboExtended;
        font-size: 20px;
        gap: 10px;

        img {
            image-rendering: pixelated;
            height: 25px;
            width: 25px;
        }
    }
}