@namespace Sauna.UI
@attribute [StyleSheet]
@inherits Panel

<root>
	<text class="title-container">TASKS JOURNAL</text>
	<div class="tasks">
		<div class="heading">PRIMARY TASKS</div>
		<div class="task">
			<img class="task-img" src="ui/hud/task_completed.png" />
			<div class="task-details">
				<text class="task-title">This is an example title that is really long</text>
				<text class="task-description">here is some writing that should not overflow</text>
			</div>
		</div>
		<div class="task">
			<img class="task-img" src="ui/hud/task_completed.png" />
			<div class="task-details">
				<text class="task-title">This is an example title that is really long</text>
				<text class="task-description">here is a short one</text>
			</div>
		</div>
		<div class="heading">SECONDARY TASKS</div>
		<div class="task">
			<img class="task-img" src="ui/hud/task_completed.png" />
			<div class="task-details">
				<text class="task-title">This is an example title that is really long</text>
				<text class="task-description">here is a short one</text>
			</div>
		</div>
		<div class="task">
			<img class="task-img" src="ui/hud/task_completed.png" />
			<div class="task-details">
				<text class="task-title">This is an example title that is really long</text>
				<text class="task-description">here is a short one</text>
			</div>
		</div>
		<div class="task">
			<img class="task-img" src="ui/hud/task_completed.png" />
			<div class="task-details">
				<text class="task-title">This is an example title that is really long</text>
				<text class="task-description">here is a short one</text>
			</div>
		</div>
		<div class="task">
			<img class="task-img" src="ui/hud/task_completed.png" />
			<div class="task-details">
				<text class="task-title">This is an example title that is really long</text>
				<text class="task-description">here is a short one</text>
			</div>
		</div>
		<div class="task">
			<img class="task-img" src="ui/hud/task_completed.png" />
			<div class="task-details">
				<text class="task-title">This is an example title that is really long</text>
				<text class="task-description">here is a short one</text>
			</div>
		</div>
	</div>
</root>
