@namespace Sauna.UI
@attribute [StyleSheet]
@inherits Panel

<root>
	<SideButton 
		Title="Inventory" 
		Subtitle="Press @(Input.GetButtonOrigin( InputAction.Inventory )) or click here"
		OnClick=@(() => FullScreenManager.Instance.Display(FullScreenManager.ActivePanel.Inventory))
		ImagePath="ui/hud/inv.png"
		style="position: absolute; top: 50px; left: 0px;" 
	/>
	<div class="task-container">
		<div class="task-list">
			<text class="title-container">TASKS JOURNAL</text>
		</div>
		<div class="task-details">
			<text class="title-container">TASKS DETAILS</text>
			<div style="width: 100%; padding: 40px;">
				<div style="width: 75%; flex-direction: column;">
					<div style="align-items: flex-start;">
						<text class="title">Task Title</text>
						<div class="completed">COMPLETED</div>
					</div>
					<text class="subtitle">Subtitle</text>
					<text class="pinned">( PINNED )</text>
				</div>
				<div class="divider" />
			</div>
			<div class="task-additional-details">
				<div style="flex-direction: column; margin-bottom: 40px; flex-shrink: 0;">
					<text class="title">Task Details:</text>
					<text style="font-size: 26px;">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eget semper ante. Suspendisse tincidunt eros eu volutpat congue. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin eget posuere augue. Donec sit amet scelerisque sapien, vel feugiat nulla. Pellentesque gravida eget ligula commodo fringilla. Ut at arcu ut dui convallis faucibus vitae sed ligula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam maximus vestibulum nisl, ut imperdiet felis efficitur ut. Donec placerat nisl eget efficitur pellentesque. Aenean eleifend volutpat egestas.
					</text>
				</div>
				<div style="flex-direction: column; flex-shrink: 0;">
					<text class="title">Task Requirements:</text>
					<div style="flex-direction: column; flex-shrink: 0; gap: 20px;">
						@foreach (var requirement in Requirements)
						{
							<div class="requirement">
								<div class="requirement-status">
									<div class="requirement-completed" />
								</div>
								<text class="requirement-details">@requirement</text>
							</div>
						}
					</div>
				</div>
			</div>
		</div>
	</div>
</root>

@code {
	public List<string> Requirements = new List<string>
	{
		"Fight back against sudden angry homeless assholes",
		"Buy vodka. Y ou might need to earn some money first",
		"Fight back against sudden angry homeless assholes",
		"Buy vodka. Y ou might need to earn some money first",
		"Fight back against sudden angry homeless assholes",
		"Buy vodka. Y ou might need to earn some money first",
		"Fight back against sudden angry homeless assholes",
		"Buy vodka. Y ou might need to earn some money first",
		"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eget semper ante. Suspendisse tincidunt eros eu volutpat congue. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin eget posuere augue. Donec sit amet scelerisque sapien, vel feugiat nulla. Pellentesque gravida eget ligula commodo fringilla. Ut at arcu ut dui convallis faucibus vitae sed ligula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam maximus vestibulum nisl, ut imperdiet felis efficitur ut. Donec placerat nisl eget efficitur pellentesque. Aenean",
	};
}
