@import "/UI/Style.scss";

TaskLog {
    position: absolute;
    height: 100%;
    width: 100%;
    pointer-events: all;
    background-color: $fullscreen-bg;
    backdrop-filter: $fullscreen-blur;

    align-items: center;
    justify-content: center;

    flex-shrink: 0;

    .task-container {
        top: 5%;
        height: 70%;
        width: 70%;
        gap: 4px;

        .title-container {
            position: absolute;
            font-size: 34px;
            font-family: BasicHandwriting;
            top: -48px;
            text-shadow: $text-shadow-sm;
        }
    }
}
