@namespace Sauna.UI
@attribute [StyleSheet]
@inherits Panel

<root onclick=@(() => TaskMaster.SelectedTask = Task)>
	<img class="task-img" src="ui/hud/task_completed.png" />
	<div class="task-details">
		<text class="task-title">@Task.Name</text>
		<text class="task-subtitle">@Task.Subtitle</text>
	</div>
</root>

@code {
	public SaunaTask Task { get; set; }

	protected override int BuildHash()
	{
		return HashCode.Combine(Task.Name, Task.Subtitle);
	}
}
