@namespace Sauna.UI
@attribute [StyleSheet]
@inherits Panel

<root>
	<img class="task-img" src="ui/hud/task_completed.png" />
	<div class="task-details">
		<text class="task-title">This is an example title that is really long</text>
		<text class="task-description">here is a short one</text>
	</div>
</root>
