@namespace Sauna.UI
@attribute [StyleSheet]
@inherits Panel

<root>
	<text class="title-container">TASKS JOURNAL</text>
	<div class="tasks">
		<div class="heading">TODO SEPERATE HEADINGS</div>
		@foreach(var task in TaskMaster.ActiveTasks)
		{
			<TaskListElement Task=@task onclick=@(() => OnTaskClick(task)) />
		}
	</div>
</root>

@code {
	public Action<SaunaTask> OnTaskClick { get; set; }

	protected override int BuildHash()
	{
		return HashCode.Combine(TaskMaster.ActiveTasks.HashCombine((t) => t.ResourceId));
	}
}
