@namespace Sauna.UI
@attribute [StyleSheet]
@inherits Panel

<root class=@(SelectedTask?.ResourceId == Task.ResourceId ? "selected" : "")>
	<img class="task-img" src="ui/hud/task_completed.png" />
	<div class="task-details">
		<text class="task-title">@Task.Name</text>
		<text class="task-subtitle">@Task.Subtitle</text>
	</div>
</root>

@code {
	public SaunaTask SelectedTask { get; set; }
	public SaunaTask Task { get; set; }

	protected override int BuildHash()
	{
		return HashCode.Combine(Task.Name, Task.Subtitle, SelectedTask?.ResourceId);
	}
}
