@import "/UI/Style.scss";

TaskList {
    height: 100%;
    width: 30%;
    background-color: $black-bg;

    .tasks {
        height: 100%;
        width: 100%;
        overflow: scroll;
        flex-direction: column;
        gap: 5px;

        .heading {
            width: 100%;
            padding: 15px 20px;
            font-size: 25px;
            flex-shrink: 0;
        }

        .task {
            padding: 20px 20px;
            flex-shrink: 0;
            align-items: center;
            background-color: #7474740e;

            .task-img {
                image-rendering: pixelated;
                aspect-ratio: 1;
                height: 70px;
                margin-right: 10px;
            }

            .task-details {
                flex-direction: column;
                
                .task-title {
                    font-family: BasicHandwriting;
                    font-size: 28px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                .task-description {
                    font-size: 24px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
        }
    }
}
