@import "/UI/Style.scss";

CharacterRenderer {
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    z-index: -5;

    .scene {
        height: 60%;
        width: 500px;
        margin-bottom: 10px;
    }

    .name {
        gap: 10px;
        font-family: BasicHandwriting;
        font-size: 30px;
        flex-direction: column;
        text-align: center;
        text-shadow: $text-shadow-sm;
    }
}
