CharacterRenderer {
    position: absolute;
    height: 85%;
    width: 80%;
    right: -140px;
    bottom: 20px;
    justify-content: center;

    .name {
        align-items: center;
        flex-direction: column;
        font-family: BasicHandwriting;
        font-size: 30px;
        align-self: flex-end;
    }
}