@import "/UI/Style.scss";

CharacterRenderer {
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    z-index: -5;

    // background-color: red;
    
    .scene-container {
        height: 60%;
        width: 500px;

        align-items: center;
        flex-direction: column;
        justify-content: center;
        
        ScenePanel {
            // background-color: blue;
            
            margin-bottom: 10px;

            height: 100%;
            width: 100%;
        }

        .scene-input-overlay {
            position: absolute;
            // background-color: green;

            z-index: 99;

            height: 100%;
            width: 63%;
        }
    }
    
    .name {
        gap: 10px;
        font-family: BasicHandwriting;
        font-size: 30px;
        flex-direction: column;
        text-align: center;
        text-shadow: $text-shadow-sm;
    }
}
