@namespace Sauna.UI
@attribute [StyleSheet]
@inherits Panel

<root>
	<div class="item-details">
		<text class="item-weight">@_item.WeightInGrams.ToKilograms() kg</text>
		<text class="item-name">@_item.Name</text>
		<text class="item-description">@_item.Description</text>
	</div>
	<div class="footer">RMB to view actions</div>
</root>

@code {
	public static HoverPanel Instance { get; private set; }
	private ItemComponent _item;

	public static void Open(ItemComponent item)
	{
		Close();

		var fraction = Mouse.Position / Screen.Size;

		Instance = new();
		Instance.Style.Left = Length.Fraction( fraction.x );
		Instance.Style.Top = Length.Fraction( fraction.y );
		Instance._item = item;
		Hud.Instance.Panel.AddChild(Instance);
	}

	public static void Close()
	{
		Instance?.Delete();
		Instance = null;
	}

	public override void OnLayout( ref Rect layoutRect )
	{
		var padding = 10;
		var h = Screen.Height - padding;
		var w = Screen.Width - padding;

		if ( layoutRect.Bottom > h )
		{
			layoutRect.Top -= layoutRect.Bottom - h;
			layoutRect.Bottom -= layoutRect.Bottom - h;
		}

		if ( layoutRect.Right > w )
		{
			layoutRect.Left -= layoutRect.Right - w;
			layoutRect.Right -= layoutRect.Right - w;
		}
	}
}
