@import "/UI/Style.scss";

HoverPanel {
    position: absolute;
    background-color: #1b1c1b;
    align-items: center;
    transition: all 0.08s ease-out;
    text-shadow: $text-shadow-sm;
    flex-direction: column;
    margin-left: 20px;
    box-shadow: 4px 4px 0px black;

    .item-details {
        width: 100%;
        padding: 10px;
        flex-direction: column;
        justify-content: center;

        .top-row {
            justify-content: space-between;

            .item-weight {
                color: $orange;
                font-family: HabboExtended;
                font-size: 16px;
                letter-spacing: 1px;
                font-weight: bold;
            }

            .item-name {
                font-family: BasicHandwriting;
                font-size: 27px;
                margin-right: 25px;
            }
        }

        .item-description {
            max-width: 400px;
            font-family: HabboExtended;
            font-size: 16px;
            padding-top: 4px;
            color: darken(white, 0.3);
        }
    }

    .footer {
        background-color: #101010;
        color: #535353;
        width: 100%;
        font-size: 18px;
        justify-content: center;
        padding: 10px 10px;
        font-weight: bold;
        letter-spacing: 2px;
        font-family: HabboExtended;
    }


    &:intro {
        transform: translateY(20);
        opacity: 0;
    }

    &:outro {
        transform: scale(0);
    }
}
