@import "/UI/Style.scss";

HoverPanel {
    position: absolute;
    background-color: #1b1c1b;
    align-items: center;
    transition: all 0.08s ease-out;
    text-shadow: $text-shadow-sm;
    flex-direction: column;

    .item-details {
        width: 100%;
        padding: 10px;
        flex-direction: column;
        justify-content: center;

        .top-row {
            justify-content: space-between;

            .item-weight {
                color: $orange;
                font-family: battlenetcopy;
                font-size: 25px;
            }
    
            .item-name {
                font-family: BasicHandwriting;
                font-size: 27px;
                margin-right: 25px;
            }
        }

        .item-description {
            font-family: battlenetcopy;
            font-size: 25px;
        }
    }

    .footer {
        background-color: #101010;
        color: #535353;
        width: 100%;
        font-size: 28px;
        justify-content: center;
        padding: 5px 10px;
    }

    
    &:intro {
        transform: translateY(20);
        opacity: 0;
    }

    &:outro {
        transform: scale(0);
    }
}
