@import "/UI/Style.scss";

InventorySlot {
    width: 100px;
    height: 100px;
    margin: 5px;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 0px black;

    .border {
        position: absolute;
        background-image: linear-gradient(#989898, #4a4a4a);
        height: 100%;
        width: 100%;
        mask-mode: alpha;
        mask-image: url('/ui/hud/slot_mask.png');
        mask-size: 100%;
    }

    .background {
        position: absolute;
        background: radial-gradient(#00000047, #000000);
        height: 100%;
        width: 100%;
        z-index: -10;
    }

    .item {
        height: 90%;
        width: 90%;

        &.has-child-draggable {
            opacity: 0.3;
        }

        &:hover {
            cursor: pointer;
        }
    }

    .slot {
        position: absolute;
        left: -15px;
        top: -15px;
        height: 40px;
        width: 40px;
    }

    // Drop target stuff
    // Drop target transitions
    .border {
        transition: transform 0.06s ease;
    }

    transition: background-color 0.23s ease-in-out;
    
    // Behaviour for when the draggable could be dropped here
    &.can-drop {
        background-color: rgba(255, 255, 255, 0.02);
    }
    
    // Behaviour for when we are the drop target,
    &.is-drop-target {
        &.can-drop {
            // ... and the draggable can be dropped here
            .border {
                transform: scale(1.1);
            }

            transition: background-color 0.13s ease-in-out;
            background-color: rgba(255, 255, 255, 0.1);
        }

        &:not(.can-drop) {
            // ... and the draggable can't be dropped here
            background-color: rgba(255, 0, 0, 0.1);
        }
    }
}