@import "/UI/Style.scss";

InventorySlot {
    width: 100px;
    height: 100px;
    background-color: black;
    border: 4px gray;
    margin: 0px 10px 10px 0px;
    opacity: 0.9;

    .weight {
        position: absolute;
        bottom: 0px;
        right: 2px;
        font-size: 25px;
        color: $text-secondary;
    }
}