@namespace Sauna.UI
@attribute [StyleSheet]
@inherits Panel

<root>
	<div class="section">
		<InventorySlot Item=@Player.Local.Inventory.EquippedItems[(int)EquipSlot.Head] />
		<InventorySlot Item=@Player.Local.Inventory.EquippedItems[(int)EquipSlot.Body] />
		<InventorySlot Item=@Player.Local.Inventory.EquippedItems[(int)EquipSlot.Legs] />
		<div>
			<InventorySlot Item=@Player.Local.Inventory.EquippedItems[(int)EquipSlot.Feet] />
			<InventorySlot Item=@Player.Local.Inventory.EquippedItems[(int)EquipSlot.Hand] />
		</div>
	</div>
	<div class="section">
		<text class="title">INVENTORY</text>
		<div class="items">
			@foreach(var item in Player.Local.Inventory.BackpackItems)
			{
				<InventorySlot Item=@item />
			}
		</div>
		<div style="align-items: center; margin: 20px 0px;">
			<img src="/ui/hud/weight.png" style="width: 40px; height: 40px; margin-right: 20px;" />
			<div style="font-size: 30px; gap: 10px;">
				<text>TOTAL WEIGHT: </text>
				<text class="active-weight">@Player.Local.Inventory.GetTotalWeightInGrams().ToKilograms() kg</text>
				<text class="max">/ @Sauna.Inventory.MAX_WEIGHT_IN_GRAMS.ToKilograms() kg</text>
			</div>
		</div>
	</div>
</root>

@code {
	private bool _isOpen = false;

	public override void Tick()
	{
		if (Input.Pressed("menu"))
			_isOpen = !_isOpen;

		SetClass("visible", _isOpen);
	}

	protected override int BuildHash()
	{
		return HashCode.Combine(
			Player.Local.Inventory.BackpackItems.HashCombine(i => i?.GetHashCode() ?? -1),
			Player.Local.Inventory.EquippedItems.HashCombine(i => i?.GetHashCode() ?? -1)
		);
	}
}
