@namespace Sauna.UI
@attribute [StyleSheet]
@inherits Panel

<root>
	<div class="section">

	</div>
	<div class="section">
		<text class="title">INVENTORY</text>
		<div class="items">
			@foreach(var item in Player.Local.Inventory.BackpackItems)
			{
				<InventorySlot Item=@item />
			}
		</div>
	</div>
</root>

@code {
	private bool _isOpen = false;

	public override void Tick()
	{
		if (Input.Pressed("menu"))
			_isOpen = !_isOpen;

		SetClass("visible", _isOpen);
	}

	protected override int BuildHash()
	{
		return HashCode.Combine(
			Player.Local.Inventory.BackpackItems.HashCombine(i => i?.GetHashCode() ?? -1),
			Player.Local.Inventory.EquippedItems.HashCombine(i => i?.GetHashCode() ?? -1)
		);
	}
}
