@namespace Sauna.UI
@attribute [StyleSheet]
@inherits Panel

<root>
	<div class="border" />
	<div class="background" />
	@if (Item is not null)
	{
		<div class="item">
				<img src=@Item.IconTexture.ResourcePath />
				<text class="weight">@Item.WeightInGrams.ToKilograms() kg</text>
		</div>
	}
	@if (Slot is not null)
	{
		<img class="slot" src=@GetSlotIcon() />
	}
</root>

@code {
	public ItemComponent Item { get; set; }
	public EquipSlot? Slot { get; set; } = null;

	private string GetSlotIcon()
	{
		var path = "/ui/hud/" + Slot switch
		{
			EquipSlot.Head => "clothes_face.png",
			EquipSlot.Face => "clothes_face.png",
			EquipSlot.Body => "clothes_torso.png",
			EquipSlot.Legs => "clothes_legs.png",
			EquipSlot.Feet => "clothes_boots.png",
			EquipSlot.Hand => "hand_slot.png",
		};
		return path;
	}

	protected override int BuildHash()
	{
		return HashCode.Combine(Item?.GetHashCode());
	}
}
