@namespace Sauna.UI
@attribute [StyleSheet]
@inherits Panel

<root>
	<div class="border" />
	<div class="background" />
	@if (Item is not null)
	{
		<div class="item">
				<img src=@Item.IconTexture />
				<text class="weight">@Item.WeightInGrams.ToKilograms() kg</text>
		</div>
	}
</root>

@code {
	public ItemComponent Item { get; set; }

	protected override int BuildHash()
	{
		return HashCode.Combine(Item?.GetHashCode());
	}
}
