RadioDisplay {
    position: absolute;
    width: 100%;
    height: 100%;
    flex-direction: column;

    .text {
        position: absolute;
        top: 12px;
        left: 12px;
        width: 100%;
        font-size: 38px;
        font-family: "DSEG14 Modern";
        max-height: 100%;

        .background {
            z-index: 0;
        }

        .foreground {
            z-index: 1;
            color: darken(#5E7C34, 0.95);
        }
    }

    .visualizer-container {
        position: absolute;
        bottom: 8px;
        left: 12px;
        width: 92%;
        height: 30px;
        flex-direction: row;
        gap: 5px;
        flex-wrap: wrap-reverse;

        .bar {
            flex-grow: 1;
            min-height: 2px;
            background-color: darken(#5E7C34, 0.7);
        }
    }
}
