{
  "Defaults": {
    "solid": "Collide",
    "trigger": "Trigger",
    "ladder": "Ignore",
    "water": "Trigger",
    "player": "Collide",
    "npc": "Collide",
    "bobber": "Ignore",
    "fishing_cell": "Trigger"
  },
  "Pairs": [
    {
      "a": "solid",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "trigger",
      "b": "playerclip",
      "r": "Ignore"
    },
    {
      "a": "trigger",
      "b": "solid",
      "r": "Trigger"
    },
    {
      "a": "solid",
      "b": "trigger",
      "r": "Collide"
    },
    {
      "a": "playerclip",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "trigger",
      "b": "player",
      "r": "Trigger"
    },
    {
      "a": "npc",
      "b": "npc",
      "r": "Trigger"
    },
    {
      "a": "player",
      "b": "player",
      "r": "Trigger"
    },
    {
      "a": "player",
      "b": "npc",
      "r": "Trigger"
    },
    {
      "a": "bobber",
      "b": "fishing_cell",
      "r": "Trigger"
    },
    {
      "a": "solid",
      "b": "fishing_cell"
    },
    {
      "a": "solid",
      "b": "bobber",
      "r": "Collide"
    },
    {
      "a": "bobber",
      "b": "bobber"
    },
    {
      "a": "player",
      "b": "bobber",
      "r": "Ignore"
    },
    {
      "a": "water",
      "b": "bobber",
      "r": "Trigger"
    },
    {
      "a": "water",
      "b": "fishing_cell",
      "r": "Ignore"
    },
    {
      "a": "water",
      "b": "player"
    },
    {
      "a": "player",
      "b": "fishing_cell",
      "r": "Trigger"
    }
  ],
  "__guid": "00000000-0000-0000-0000-000000000000",
  "__schema": "configdata",
  "__type": "CollisionRules",
  "__version": 1
}