@namespace Sauna.UI
@attribute [StyleSheet]
@inherits Panel

<root>
	<label class="title">My Summer Cottage</label>
	<label class="date">Friday, 6th of July</label>
	<label class="date">2001</label>
</root>

@code {
	protected override void OnAfterTreeRender( bool firstTime )
	{
		_ = DelayDelete();
	}

	private async Task DelayDelete()
    {
        await GameTask.Delay(1000);
        Delete();
    }
}
