$dark-blue: #273163;

PassportComponent {
    width: 100%;
    height: 100%;
    font-smooth: never;
    font-family: HabboExtended;
    font-size: 32px;
    text-transform: uppercase;
    color: $dark-blue;
    text-shadow: 2px 0px $dark-blue, 2px 2px 2px rgba(black, 0.4);
    letter-spacing: 2px;
    font-weight: bold;

    .firstname {
        position: absolute;
        left: 276px;
        top: 212px;
    }

    .lastname {
        position: absolute;
        left: 276px;
        top: 280px;
    }

    .date {
        position: absolute;
        left: 276px;
        top: 390px;
    }

    .footer {
        position: absolute;
        left: 10px;
        top: 540px;
        width: 100%;
        word-break: break-all;
    }
}
