@namespace Sauna.UI
@attribute [StyleSheet]
@using Sauna.Game
@inherits Panel

<root>
	<div class="item">
		<div class="icon day"></div>
		<div class="text-container">
			<div class="title">day</div>
			<div class="value">@(GameTimeManager.Day + 1)</div>
		</div>
	</div>
	<div class="item">
		<div class="icon level"></div>
		<div class="text-container">
			<div class="title">level</div>
			<div class="value">@CurrentLevel</div>
		</div>
	</div>
</root>

@code {
	
	public GameTimeManager GameTimeManager { get; set; }

	public int CurrentLevel => 7;

	protected override int BuildHash()
	{
		return HashCode.Combine( GameTimeManager.Day, CurrentLevel );
	}

}
