@namespace Sauna.UI
@attribute [StyleSheet]
@inherits Panel

<root>
	<div class="item">
		<div class="icon day"></div>
		<div class="text-container">
			<div class="title">day</div>
			<div class="value">@(GameTimeManager.Day + 1)</div>
		</div>
	</div>
	<div class="item">
		<div class="icon money"></div>
		<div class="text-container">
			<div class="title">balance</div>
			<div class="value @GetBalanceClass()">
				@($"{_lastBalance}mk")
			</div>
		</div>
	</div>
</root>

@code {
	public GameTimeManager GameTimeManager { get; set; }

	private int _lastBalance = Player.Local.Money;
	private int _delta = 0;
	private TimeUntil _timeUntilRevert = 0f;

	public override void Tick()
	{
		if (Player.Local is null)
			return;

		if (_lastBalance != Player.Local.Money)
		{
			_delta = Player.Local.Money < _lastBalance ? -1 : 1;
            _lastBalance = _lastBalance + _delta;
			_timeUntilRevert = 0.5f;
		}
	}

	private string GetBalanceClass()
	{
		if (_lastBalance != Player.Local.Money || !_timeUntilRevert)
			return _delta > 0 ? "increment" : "decrement";
		return string.Empty;
	}

	protected override int BuildHash()
	{
		return HashCode.Combine( GameTimeManager.Day, Player.Local.Money, _lastBalance, (bool)_timeUntilRevert );
	}
}
