@namespace Sauna.UI
@attribute [StyleSheet]
@inherits Panel

<root>
	@if ( Hud.Instance.GameTimeManager.IsDayOver && false ) // todo: make better
	{
		<div style="pointer-events: all">
			<div>Good job, asshole!</div>

			<div>Gained:</div>
			<div>+10 XP</div>
			<div>+5 Smk (Gambling)</div>
			<div>+1.5 KG of fat</div>
			<div>+Prostatitis</div>

			<div>Lost:</div>
			<div>-150 Smk (Gambling)</div>
			<div>-Sanity</div>
			<div>-Wife</div>
			<div>-Driver's license</div>

			<div onclick="@( () => Hud.Instance.GameTimeManager.AdvanceToNextDay() )">Continue</div>
		</div>
	}
	else
		switch ( _activePanel )
		{
			case ActivePanel.InGameHud:
				<InGameHud/>
				break;
			case ActivePanel.Inventory:
				<Inventory/>
				break;
			case ActivePanel.TaskLog:
				<TaskLog/>
				break;
			case ActivePanel.FishLog:
				<FishLog/>
				break;
			case ActivePanel.PauseMenu:
				<PauseMenu/>
				break;
			default:
				throw new ArgumentOutOfRangeException();
		}
</root>

@code {
	public static FullScreenManager Instance { get; set; }

	public enum ActivePanel
	{
		InGameHud,
		Inventory,
		TaskLog,
		FishLog,
		PauseMenu,
	}

	private ActivePanel _activePanel = ActivePanel.InGameHud;

	public FullScreenManager()
	{
		Instance = this;
	}

	public void Display( ActivePanel panel )
	{
		_activePanel = panel;
	}

	public override void Tick()
	{
		if ( Input.EscapePressed )
			Toggle( ActivePanel.PauseMenu );

		if ( Input.Pressed( InputAction.Inventory ) )
			Toggle( ActivePanel.Inventory );

		if ( Input.Pressed( InputAction.Tasks ) )
			Toggle( ActivePanel.TaskLog );
	}

	private void Toggle( ActivePanel panel )
	{
		if ( _activePanel == panel )
			_activePanel = ActivePanel.InGameHud;
		else
			_activePanel = panel;
	}

	protected override int BuildHash()
	{
		return HashCode.Combine( Hud.Instance.GameTimeManager.IsDayOver, _activePanel.GetHashCode() );
	}

}
