IconWorldPanel {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;

    img {
        height: 70%;
        width: 70%;
        image-rendering: pixelated;
    }
}