InputHint {
    padding: 0px 12px 0px 12px;
    box-shadow: 4px 4px 0px black;
    background-color: white;
    font-size: 32px;
    color: black;
    text-transform: uppercase;
    max-height: 27px;
    justify-content: center;
    align-items: center;
    font-family: battlenetcopy;
    flex-direction: column;
    flex-shrink: 0;

    .text {
        bottom: 2px;
    }
}
