InputHint {
    font-family: battlenetcopy;
    align-items: center;

    .hint {
        font-size: 26px;
        margin-right: 20px;
    }

    .input {
        color: black;
        font-size: 26px;
        letter-spacing: 1px;
        padding: 0px 12px 0px 12px;
        box-shadow: 4px 4px 0px black;
        background-color: white;
        text-transform: uppercase;
        max-height: 27px;
        flex-shrink: 0;
    }
}
