@import "/UI/Style.scss";

InputHint {
    font-family: HabboExtended;
    align-items: center;
    flex-direction: row-reverse;

    .hint {
        font-size: 22px;
        margin-right: 10px;
        margin-left: 10px;
        font-weight: bold;
        letter-spacing: 1px;
    }

    .input {
        font-weight: bold;
        color: black;
        font-size: 20px;
        letter-spacing: 1px;
        padding: 5px 15px 0px 17px;
        box-shadow: 4px 4px 0px black;
        background-color: white;
        text-transform: uppercase;
        max-height: 27px;
        text-shadow: 2px 2px 0px rgba(black, 0.5);
        flex-shrink: 0;

        &.dark {
            color: $dark-gray;
            background-color: #1e1e1e;
        }
    }
}
