@namespace Sauna.UI
@attribute [StyleSheet]
@inherits Panel

<root onclick=@(() => { if (!IsDisabled) OnClick?.Invoke(); }) class="@(IsDisabled ? "disabled" : "")">
	<image src=@ImagePath />
	<div class="text-container">
		<text class="text-title">@Title</text>
		<text class="text-subtitle">@Subtitle</text>
	</div>
</root>

@code {
	public string Title { get; set; }
	public string Subtitle { get; set; }
	public string ImagePath { get; set; } = "ui/hud/goback.png";
	public bool IsDisabled { get; set; } = false;
	public bool IsInverted { get; set; } = false;
	public Action OnClick { get; set; }

	protected override void OnAfterTreeRender(bool firstTime)
	{
		base.OnAfterTreeRender(firstTime);

		if (IsInverted)
		{
			Style.FlexDirection = FlexDirection.RowReverse;
			Style.TextAlign = TextAlign.Right;
			Style.BackgroundAngle = Length.Pixels(-1.57f);
		}
	}

	protected override int BuildHash()
	{
		return HashCode.Combine(IsDisabled);
	}
}
