@import "/UI/Style.scss";

SideButton {
    position: absolute;
    padding: 30px 10px;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    transition: all 0.2s ease-out;
    pointer-events: all;
    z-index: 4;
    opacity: 0.8;
    background: linear-gradient(to right, rgba(black, 0.8) 0%, rgba(black, 0.4) 70%, rgba(black, 0) 100%);

    &.ltr {
        background: linear-gradient(to left, rgba(black, 0.8) 0%, rgba(black, 0.4) 70%, rgba(black, 0) 100%);
        flex-direction: row-reverse;
        text-align: right;
    }

    image {
        height: 75%;
        aspect-ratio: 1;
        flex-shrink: 0;
        background-size: 100%;
        margin-left: 20px;
        margin-right: 20px;
    }

    .text-container {
        flex-direction: column;
        color: white;
        max-width: 600px;
        flex-shrink: 0;
        gap: 10px;
        transition: all 0.2s ease-out;

        .text-title {
            font-family: BasicHandwriting;
            font-size: 48px;
        }

        .text-subtitle {
            font-family: HabboExtended;
            color: darken(white, 0.1);
            font-size: 18px;
        }
    }

    &:hover:not(.disabled) {
        cursor: pointer;
        opacity: 1;

        .text-container {
            transform: scale(1.01);
        }
    }

    &.disabled {
        opacity: 0.5;
    }
}
