@namespace Sauna.UI
@attribute [StyleSheet]
@inherits Panel

<root 
	onclick=@(() => { if (!IsDisabled) OnClick?.Invoke(); if ( PlaySound ) CreatorOverlay.PlayUISound( "press" ); })
	class="@(IsDisabled ? "disabled" : "") @(IsInverted ? "ltr" : "")"
>
	<image src=@ImagePath />
	<div class="text-container">
		<text class="text-title">@Title</text>
		<text class="text-subtitle">@Subtitle</text>
	</div>
</root>

@code {
	public string Title { get; set; }
	public string Subtitle { get; set; }
	public bool PlaySound { get; set; } = true;
	public string ImagePath { get; set; } = "ui/hud/goback.png";
	public bool IsDisabled { get; set; } = false;
	public bool IsInverted { get; set; } = false;
	public Action OnClick { get; set; }

	protected override int BuildHash()
	{
		return HashCode.Combine(IsDisabled, IsInverted);
	}
}
