@import "/UI/Style.scss";

MainMenuHud {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: all;
    z-index: 50;
    align-items: stretch;
    background-image: url(ui/cottage.png);
    background-size: cover;

    .blur-bg {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $fullscreen-bg;
        backdrop-filter: blur(10px);
    }
}