@namespace Sauna.UI
@attribute [StyleSheet]
@inherits PanelComponent

<root>
	<img class="title" src="ui/mainmenu/title.png" />
	<div style="flex-direction: column; justify-content: center; top: 10%; gap: 15px;">
		@if ( !SaveData.Has )
		{
			<SideButton
				ImagePath="ui/mainmenu/new_icon.png"
				Title="New Game"
				Subtitle="Start your own cottage story.."
				OnClick=@(() => { SceneHandler.ChangeScene( SaunaScene.Creation ); })
			/>
		}
		else
		{
			<SideButton
				ImagePath="ui/mainmenu/load_icon.png"
				Title="Continue"
				Subtitle="Get back to enjoying life at the cottage.."
				OnClick=@(() => { SceneHandler.ChangeScene( SaunaScene.Game ); })
			/>	
		}
		<SideButton
			ImagePath="ui/mainmenu/credits_icon.png"
			Title="Credits"
			Subtitle="Check out the folks that created this experience!"
		/>
		<SideButton
			ImagePath="ui/mainmenu/quit_icon.png"
			Title="Quit"
			Subtitle="Why? There aren't any other better games on s&box..."
			OnClick=@(() => { Game.Close(); })
		/>
	</div>

	<FriendList class="friendList" />
	<NotificationManager />
</root>

@code {
	public static float Volume { get; set; } = 0.025f;
	public static (PlayerSave Save, bool Has) SaveData { get; private set; }
	SoundHandle _loopStart;
	SoundHandle _loop;

	public void Initialize()
	{
		SaveData = Player.GetSave();

		// Start music.
		new Action( async () =>
		{
			var start = SoundFile.Load( "sounds/music/zakkujo-ero_vaimosta-loop_start.sound" );
			await start.LoadAsync();

			var loop = SoundFile.Load( "sounds/music/zakkujo-ero_vaimosta-loop.sound" );
			await loop.LoadAsync();
			
			_loopStart = Sound.PlayFile( start );
			_loopStart.ListenLocal = true;
			_loopStart.Volume = Volume;

			await GameTask.DelaySeconds( start.Duration );

			_loop = Sound.PlayFile( loop );
			_loop.ListenLocal = true;
			_loop.Volume = Volume;
		} ).Invoke();
	}
}
