@import "/UI/Style.scss";

MainMenuHud {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: all;
    z-index: 50;
    
    align-items: stretch;
    
    & > * {
        flex-grow: 1;
    }
}