@namespace Sauna.UI
@attribute [StyleSheet]
@inherits Panel

<root>
	<img class="title" src="ui/mainmenu/title.png"/>
	<div style="flex-direction: column; justify-content: center; top: 10%; gap: 15px;">
		@if ( !MainMenuHud.SaveData.Has )
		{
			<SideButton
				ImagePath="ui/mainmenu/new_icon.png"
				Title="New Game"
				Subtitle="Start your own cottage story.."
				OnClick=@( () => { SceneHandler.ChangeScene( SaunaScene.Creation, stopSound: false ); } )/>
		}
		else
		{
			<SideButton
				ImagePath="ui/mainmenu/load_icon.png"
				Title="Continue"
				Subtitle="Get back to enjoying life at the cottage.."
				OnClick=@( () => { SceneHandler.ChangeScene( SaunaScene.Game ); } )/>
		}
		<SideButton
			ImagePath="ui/mainmenu/credits_icon.png"
			Title="Credits"
			Subtitle="Check out the folks that created this experience!"
			OnClick="@( () => { Screen = MainMenuHud.MenuScreen.Credits; } )"/>
		<SideButton
			ImagePath="ui/mainmenu/quit_icon.png"
			Title="Quit"
			Subtitle="Why? There aren't any other better games on s&box..."
			OnClick=@( () => { Game.Close(); } )/>
	</div>

	<FriendList class="friendList"/>
	<NotificationManager/>
</root>

@code {
	public MainMenuHud.MenuScreen Screen { get; set; }
	public static bool PlayIntro { get; set; } = true;
}
