@using Sandbox;
@using Sandbox.UI;

@namespace Sauna
@inherits Panel

<style>
    AchievementToast {
        transition: all 200ms;
        transform: translateY(0);
        background-color: black;
        font-size: 26px;
        padding: 4px;
        margin: 8px;
        
        &:intro {
            transition: all 200ms;
            transform: translateY(500);
        }

        &:outro {
            transition: all 200ms;
            transform: translateY(500);
        }

        .img {
            width: 32px;
            height: 32px;
            background-repeat: no-repeat;
        }

        .cheevo-text {
            display: flex;
            padding-left: 5px;
            flex-direction: column;
        }
    }
</style>

<root>
    <img @ref=Icon/>
    <div class="cheevo-text">
        <label style="color: gold;">@Cheevo.Name</label>
        <label>@Cheevo.Description</label>
    </div>

</root>


@code {
    AchievementResource Cheevo;
    TimeSince SinceCreated { get; set; } = 0;
    Image Icon { get; set; }

    public AchievementToast(AchievementResource cheevo)
    {
        Cheevo = cheevo;
    }

    protected override void OnAfterTreeRender(bool firstTime)
    {
        base.OnAfterTreeRender(firstTime);
        Log.Info(Icon);
        if (firstTime)
            Icon.Texture = Cheevo.Icon;
    }

    public override void Tick()
    {
        base.Tick();

        if (SinceCreated >= 7f && !IsDeleting)
            Delete();
    }
}
