$dark-brown: #6A1507;

MugshotPanel {
    width: 100%;
    height: 100%;
    font-family: BasicHandwriting;
    font-size: 42px;
    color: $dark-brown;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    text-transform: uppercase;
}